<div class="layout-topbar-start">
	<a class="layout-topbar-logo gap-2" routerLink="/">
		<i class="pi pi-shopping-bag" style="font-size:1.3rem; color: var(--primary-color)"></i>
		<div class="titre p-0 m-0">MOMOAdmin</div>
	</a>
	<a #menuButton class="layout-menu-button" (click)="onMenuButtonClick()">
		<i class="pi pi-chevron-right"></i>
	</a>
</div>

<div class="layout-topbar-end">
	<div class="layout-topbar-actions-start"></div>

	<div class="layout-topbar-actions-end">
		<ul class="layout-topbar-items">
			<li class="dark-toggle-item">
				<a (click)="toggleDarkMode()" class="cursor-pointer dark-toggle-btn"
				   [title]="layoutService.isDarkTheme() ? 'Passer en mode clair' : 'Passer en mode sombre'">
					<i [class]="layoutService.isDarkTheme() ? 'pi pi-sun' : 'pi pi-moon'"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
